#ðŸ“Œ ExtracÃ£o

In [1]:
import requests
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science/refs/heads/main/TelecomX_Data.json'
response = requests.get(url)
data = response.json()
df = pd.json_normalize(data)
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [3]:
df.columns

Index(['customerID', 'Churn', 'customer.gender', 'customer.SeniorCitizen',
       'customer.Partner', 'customer.Dependents', 'customer.tenure',
       'phone.PhoneService', 'phone.MultipleLines', 'internet.InternetService',
       'internet.OnlineSecurity', 'internet.OnlineBackup',
       'internet.DeviceProtection', 'internet.TechSupport',
       'internet.StreamingTV', 'internet.StreamingMovies', 'account.Contract',
       'account.PaperlessBilling', 'account.PaymentMethod',
       'account.Charges.Monthly', 'account.Charges.Total'],
      dtype='object')

In [4]:
df['Churn'].value_counts()

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [5]:
df['account.Charges.Total'] = pd.to_numeric(
    df['account.Charges.Total'],
    errors='coerce'
)

df['account.Charges.Monthly'] = pd.to_numeric(
    df['account.Charges.Monthly'],
    errors='coerce'
)

In [6]:
df[['account.Charges.Total', 'account.Charges.Monthly']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   account.Charges.Total    7256 non-null   float64
 1   account.Charges.Monthly  7267 non-null   float64
dtypes: float64(2)
memory usage: 113.7 KB

#ðŸ”§ TransformaÃ§Ã£o

In [7]:
df = df.rename(columns={
    'customer.gender': 'gender',
    'customer.SeniorCitizen': 'SeniorCitizen',
    'customer.Partner': 'Partner',
    'customer.Dependents': 'Dependents',
    'customer.tenure': 'tenure',
    'phone.PhoneService': 'PhoneService',
    'phone.MultipleLines': 'MultipleLines',
    'internet.InternetService': 'InternetService',
    'internet.OnlineSecurity': 'OnlineSecurity',
    'internet.OnlineBackup': 'OnlineBackup',
    'internet.DeviceProtection': 'DeviceProtection',
    'internet.TechSupport': 'TechSupport',
    'internet.StreamingTV': 'StreamingTV',
    'internet.StreamingMovies': 'StreamingMovies',
    'account.Contract': 'Contract',
    'account.PaperlessBilling': 'PaperlessBilling',
    'account.PaymentMethod': 'PaymentMethod',
    'account.Charges.Monthly': 'Charges.Monthly',
    'account.Charges.Total': 'Charges.Total'
})

df.columns

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

In [8]:
df['Charges.Total'] = df['Charges.Total'].fillna(0)
df.isnull().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

**VERIFICAÃ‡Ã•ES**

            1.Verificando valores unicos

In [10]:
for col in df.columns:
    print(f'Coluna: {df[col].unique()}')

    if df[col].nunique() < 50:
        print('Valores Ãºnicos:')
        print(df[col].unique())
        print('-' * 50)

Coluna: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Coluna: ['No' 'Yes' '']
Valores Ãºnicos:
['No' 'Yes' '']
--------------------------------------------------
Coluna: ['Female' 'Male']
Valores Ãºnicos:
['Female' 'Male']
--------------------------------------------------
Coluna: [0 1]
Valores Ãºnicos:
[0 1]
--------------------------------------------------
Coluna: ['Yes' 'No']
Valores Ãºnicos:
['Yes' 'No']
--------------------------------------------------
Coluna: ['Yes' 'No']
Valores Ãºnicos:
['Yes' 'No']
--------------------------------------------------
Coluna: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
Coluna: ['Yes' 'No']
Valores Ãºnicos:
['Yes' 'No']
--------------------------------------------------
Coluna: ['No' 'Yes' 'No phone service']
Valores Ãºnicos:
['No' 'Yes' 'No phone service']
--------------------------------------------------
Coluna: ['DSL' 'Fiber optic' 'No']
Valores Ãºnicos:
['DSL' 'Fiber optic' 'No']
--------------------------------------------------
Coluna: ['No' 'Yes' 'No internet service']
Valores Ãºnicos:
['No' 'Yes' 'No internet service']
--------------------------------------------------
Coluna: ['Yes' 'No' 'No internet service']
Valores Ãºnicos:
['Yes' 'No' 'No internet service']
--------------------------------------------------
Coluna: ['No' 'Yes' 'No internet service']
Valores Ãºnicos:
['No' 'Yes' 'No internet service']
--------------------------------------------------
Coluna: ['Yes' 'No' 'No internet service']
Valores Ãºnicos:
['Yes' 'No' 'No internet service']
--------------------------------------------------
Coluna: ['Yes' 'No' 'No internet service']
Valores Ãºnicos:
['Yes' 'No' 'No internet service']
--------------------------------------------------
Coluna: ['No' 'Yes' 'No internet service']
Valores Ãºnicos:
['No' 'Yes' 'No internet service']
--------------------------------------------------
Coluna: ['One year' 'Month-to-month' 'Two year']
Valores Ãºnicos:
['One year' 'Month-to-month' 'Two year']
--------------------------------------------------
Coluna: ['Yes' 'No']
Valores Ãºnicos:
['Yes' 'No']
--------------------------------------------------
Coluna: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Valores Ãºnicos:
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
--------------------------------------------------
Coluna: [65.6  59.9  73.9  ... 91.75 68.8  67.85]
Coluna: [ 593.3   542.4   280.85 ...  742.9  4627.65 3707.6 ]

In [11]:
for col in df.columns:
    nunique = df[col].nunique()
    print(f'Coluna: {col}')
    print(f'Qtd valores Ãºnicos: {nunique}')

    if nunique < 50:
        print('Valores Ãºnicos:')
        print(df[col].value_counts())

    print('-' * 60)

Coluna: customerID
Qtd valores Ãºnicos: 7267
------------------------------------------------------------
Coluna: Churn
Qtd valores Ãºnicos: 3
Valores Ãºnicos:
Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64
------------------------------------------------------------
Coluna: gender
Qtd valores Ãºnicos: 2
Valores Ãºnicos:
gender
Male      3675
Female    3592
Name: count, dtype: int64
------------------------------------------------------------
Coluna: SeniorCitizen
Qtd valores Ãºnicos: 2
Valores Ãºnicos:
SeniorCitizen
0    6085
1    1182
Name: count, dtype: int64
------------------------------------------------------------
Coluna: Partner
Qtd valores Ãºnicos: 2
Valores Ãºnicos:
Partner
No     3749
Yes    3518
Name: count, dtype: int64
------------------------------------------------------------
Coluna: Dependents
Qtd valores Ãºnicos: 2
Valores Ãºnicos:
Dependents
No     5086
Yes    2181
Name: count, dtype: int64
------------------------------------------------------------
Coluna: tenure
Qtd valores Ãºnicos: 73
------------------------------------------------------------
Coluna: PhoneService
Qtd valores Ãºnicos: 2
Valores Ãºnicos:
PhoneService
Yes    6560
No      707
Name: count, dtype: int64
------------------------------------------------------------
Coluna: MultipleLines
Qtd valores Ãºnicos: 3
Valores Ãºnicos:
MultipleLines
No                  3495
Yes                 3065
No phone service     707
Name: count, dtype: int64
------------------------------------------------------------
Coluna: InternetService
Qtd valores Ãºnicos: 3
Valores Ãºnicos:
InternetService
Fiber optic    3198
DSL            2488
No             1581
Name: count, dtype: int64
------------------------------------------------------------
Coluna: OnlineSecurity
Qtd valores Ãºnicos: 3
Valores Ãºnicos:
OnlineSecurity
No                     3608
Yes                    2078
No internet service    1581
Name: count, dtype: int64
------------------------------------------------------------
Coluna: OnlineBackup
Qtd valores Ãºnicos: 3
Valores Ãºnicos:
OnlineBackup
No                     3182
Yes                    2504
No internet service    1581
Name: count, dtype: int64
------------------------------------------------------------
Coluna: DeviceProtection
Qtd valores Ãºnicos: 3
Valores Ãºnicos:
DeviceProtection
No                     3195
Yes                    2491
No internet service    1581
Name: count, dtype: int64
------------------------------------------------------------
Coluna: TechSupport
Qtd valores Ãºnicos: 3
Valores Ãºnicos:
TechSupport
No                     3582
Yes                    2104
No internet service    1581
Name: count, dtype: int64
------------------------------------------------------------
Coluna: StreamingTV
Qtd valores Ãºnicos: 3
Valores Ãºnicos:
StreamingTV
No                     2896
Yes                    2790
No internet service    1581
Name: count, dtype: int64
------------------------------------------------------------
Coluna: StreamingMovies
Qtd valores Ãºnicos: 3
Valores Ãºnicos:
StreamingMovies
No                     2870
Yes                    2816
No internet service    1581
Name: count, dtype: int64
------------------------------------------------------------
Coluna: Contract
Qtd valores Ãºnicos: 3
Valores Ãºnicos:
Contract
Month-to-month    4005
Two year          1743
One year          1519
Name: count, dtype: int64
------------------------------------------------------------
Coluna: PaperlessBilling
Qtd valores Ãºnicos: 2
Valores Ãºnicos:
PaperlessBilling
Yes    4311
No     2956
Name: count, dtype: int64
------------------------------------------------------------
Coluna: PaymentMethod
Qtd valores Ãºnicos: 4
Valores Ãºnicos:
PaymentMethod
Electronic check             2445
Mailed check                 1665
Bank transfer (automatic)    1589
Credit card (automatic)      1568
Name: count, dtype: int64
------------------------------------------------------------
Coluna: Charges.Monthly
Qtd valores Ãºnicos: 1585
------------------------------------------------------------
Coluna: Charges.Total
Qtd valores Ãºnicos: 6531
------------------------------------------------------------

**2. Valores Duplicados**

In [12]:
print("Numero de duplicados", df.duplicated().sum())

Numero de duplicados 0

**3**. Valores **Nulos**

In [13]:
print("Numero de Nulos \n", df.isnull().sum())

Numero de Nulos
 customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

3. Vazios ou em Brancos

In [15]:
df.apply(lambda x: x.astype(str).str.strip() == '').sum()

customerID            0
Churn               224
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod         0
Charges.Monthly       0
Charges.Total         0
dtype: int64

#â™»ï¸ TransformaÃ§Ãµes

1. Alterando a coluna Charges.Total para Float

In [17]:
df['Charges.Total'] = pd.to_numeric(
    df['Charges.Total'],
    errors='coerce'
)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [22]:
df = df[df['Churn'].str.strip() != '']
print("NÃºmero de filas depois de eliminar as vazias em 'Churn':", len(df))

NÃºmero de filas depois de eliminar as vazias em 'Churn': 7043

2. VerificaÃ§Ã£o de vazias ou em branco

In [23]:
df.apply(lambda x: x.astype(str).str.strip() == '').sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

**3. Valores Nulos**

In [24]:
print("Numero de Nulos \n", df.isnull().sum())

Numero de Nulos
 customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

#ðŸ“Š Carga e anÃ¡lise

#ðŸ“„Relatorio Final